.blogArticles {
  .categoryGroup {
    cursor: pointer;
  }
  .categoryGroup-item {
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);

    :first-child {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
    :active {
      color: #fff;
      background-color: $primary;
    }
  }
  .fixed-img-height {
    height: 200px; /* 設置固定高度，根據需要調整 */
    object-fit: cover; /* 確保圖片不變形，會裁剪多餘的部分 */
    width: 100%; /* 確保圖片的寬度適應卡片 */
  }
}
