.order-summary {
  .order-section {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    .order-title {
      border-bottom: 1px solid $primary;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    h4 {
      display: inline;
    }
    .edit-btn {
      float: right;
      padding: 4px 8px;
      border: 1px solid $primary;
      text-decoration: none;
    }
    p {
      margin: 5px 0;
    }
  }

  .order-details {
    border: 1px solid #ddd;
    padding: 15px;
    .list-group-item {
      border: none;
      border-bottom: 1px solid $primary;
      border-radius: none;
    }
    .price {
      float: right;
    }
    .free {
      color: green;
    }
    .order-title {
      border-bottom: 1px solid $primary;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .order-btn {
      display: block;
      width: 100%;
    }
  }
}
